*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
    transition: .1s ease;
}
body{
    min-height: 100dvh;
    background: #000;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem,4vw,2.75rem);
}
#cursor{
    width: 20px;
    height: 20px;
    mix-blend-mode: difference;
    position: fixed;
    background: #fff;
    border-radius: 50%;
}

h1:hover ~ #cursor{
    transform: scale(6);
}